.span2= link_to account.name, account
.span2= account.account_type.name
.span2= account.currency.name      
.span2= account.init_amount
.span1= link_to "#{account.active}", account, method: :delete, remote: true, data: {target: "link_#{account.id}", source: "link_#{account.id}"}
.span2= account.note      
.span1= link_to 'Edit', edit_account_path(account, target: "row_#{account.id}"),remote: true, data:{source: "row_#{account.id}"}