.span2= account.name
.span2= account.account_type.name
.span2= account.currency.name      
.span2= account.init_amount
.span1= account.active
.span2= account.note      
.span1= link_to 'Edit', edit_account_path(account, target: "row_#{account.id}"),remote: true, data:{source: "row_#{account.id}"}