.row-fluid.row_data
  .span1= p.text_field :name
  .span1= p.text_field :quantity, id: :qnt
  .span1= p.text_field :amount, data: {amount: true}, :onchange =>'amountChanged(this)'     
  .span1= p.text_field :rate, id: :rate         
  .span2= p.select 'unit_id', Unit.active.collect {|p| [ p.name, p.id ] }
  .span2= select_tag "category_id", options_from_collection_for_select(Category.active.order("name").collect, "id", "name")
  .span2= select_tag 'payee_id', options_from_collection_for_select(Payee.all.order("name").collect, "id", "name" )
  .span2= link_to "Remove", nil, data: { confirm: 'Are you sure?' }
  = p.hidden_field :id