.row-fluid.row_data
  .span1= p.text_field :name
  .span1= p.text_field :quantity, id: :qnt
  .span1= p.text_field :amount, data: {amount: true}, :onchange =>'amountChanged(this)'     
  .span1= p.text_field :rate, id: :rate         
  .span2= p.select 'unit_id', Unit.active.collect {|p| [ p.name, p.id ] }
  .span2= select_tag 'category_id', options_from_collection_for_select(Category.active, "id", "name"), data: {kselect: :true}
  .span2= p.select 'payee_id', Payee.all.collect {|p| [ p.name, p.id ] }
  .span2= link_to '<i class="glyphicon glyphicon-trash">w</i>'.html_safe, nil, data: { confirm: 'Are you sure?' }
  = p.hidden_field :id