%h1 Listing currencies

%table.table.table-striped
  %tr
    %th Name
    %th Symbol
    %th Active
    %th
    %th
    %th

  - @currencies.each do |currency|
    %tr
      %td= currency.name
      %td= currency.symbol
      %td= currency.active
      %td= link_to 'Show', currency
      %td= link_to 'Edit', edit_currency_path(currency)
      %td= link_to 'Destroy', currency, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Currency', new_currency_path
