%h1 Listing units

%table.table.table-striped
  %tr
    %th Name
    %th Symbol
    %th Active
    %th Type
    %th Note
    %th
    %th
    %th

  - @units.each do |unit|
    %tr
      %td= unit.name
      %td= unit.symbol
      %td= unit.active
      %td= unit.unit_type
      %td= unit.note
      %td= link_to 'Show', unit
      %td= link_to 'Edit', edit_unit_path(unit)
      %td= link_to 'Destroy', unit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Unit', new_unit_path
