%h1 Listing categories

%table.table.table-striped
  %tr
    %th Parent
    %th Name
    %th Active
    %th Note
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= category.parent.nil? ? "None" : category.parent.name
      %td= category.name
      %td= category.active
      %td= category.note
      %td= link_to 'Show', category
      %td= link_to 'Edit', edit_category_path(category)
      %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_category_path
