= javascript_include_tag "/assets/shoppings.js"
= form_for @shopping do |f|
  - if @shopping.errors.any?
    #error_explanation
      %h2
        = pluralize(@shopping.errors.count, "error")
        prohibited this shopping from being saved:
      %ul
        - @shopping.errors.full_messages.each do |msg|
          %li= msg
  .row-fluid
    .span2
      %label= f.label :date
      %p= f.text_field :date, :type => "date", :value => Time.now.strftime("%Y-%m-%d")
    .span2
      %label= f.label :account_id
      %p= f.select 'account_id', Account.active.collect {|p| [ p.name, p.id ] }
    .span2
      %label= f.label :amount
      %p= f.text_field :amount

  .items2
    .add=link_to 'Add Product', ''
    .row-fluid
      .span1.table_head Name
      .span1.table_head Quantity
      .span1.table_head Amount
      .span1.table_head Rate      
      .span2.table_head Unit
      .span2.table_head
        %span Category
        %span= link_to 'New', '/categories/options', remote: :true, data: {kpopform: :true, kPopPosition: :top}
      .span2.table_head Payee
      .span2.table_head
    .items
      = f.nested_fields_for :products do |p|
        = render partial: 'modularized/product_row', locals: {p: p}
  
  .row-fluid
    .span2
      %label= f.label :bill_number
      %p= f.text_field :bill_number
  .row-fluid
    .span1= link_to "<button type='button' class='btn btn_primary'>Cancel</button>".html_safe, :back
    .span1= f.submit :class => 'btn btn_primary'
