= form_for @product do |p|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = p.label :name
    = p.text_field :name
  .field
    = p.label :quantity
    = p.text_field :quantity
  .field
    = p.label :rate
    = p.text_field :rate
  .field
    = p.label :amount
    = p.text_field :amount
  .field
    = p.label :unit_id
    = p.select :unit_id, Unit.active.collect {|p| [ p.name, p.id ] }
  .field
    = p.label :category_id
    = p.select :category_id, Category.active.collect {|p| [ p.name, p.id ] }
  .field
    = p.label :payee_id
    = p.select :payee_id, Payee.all.collect {|p| [ p.name, p.id ] }
  .field
    = p.label :shopping_id
    = p.number_field :shopping_id  
  .actions
    = p.submit 'Save'
