%h1 Listing products

%table.table.table-striped
  %tr
    %th Name
    %th Quantity
    %th Rate
    %th Amount
    %th Unit
    %th Category
    %th Payee
    %th Shopping
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.quantity
      %td= product.rate
      %td= product.amount
      %td= product.unit.name
      %td= product.category.nil? ? 'Non' : product.category.name
      %td= product.payee.nil? ? '' : product.payee.name
      %td= product.shopping_id
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
